---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
    const posts = await getCollection("posts");
    return posts.map((p) => ({
        params: { slug: p.data.slug },
        props: { post: p },
    }));
}

const { post } = Astro.props;
const { title, slug, description, keywords, publishDate, image } = post.data;
const { Content } = await render(post);
const structuredData = {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    headline: title,
    description: description,
    image: image,
    author: {
        "@type": "Person",
        name: "Aditya Kajla",
        url: "https://akajla.com",
    },
    publisher: {
        "@type": "Organization",
        name: "Aditya Kajla",
        logo: {
            "@type": "ImageObject",
            url: "https://akajla.com/favicon.svg",
        },
    },
    datePublished: publishDate,
    dateModified: publishDate,
    mainEntityOfPage: {
        "@type": "WebPage",
        "@id": `https://akajla.com/blog/${slug}`,
    },
    keywords: keywords.split(", "),
    url: `https://akajla.com/blog/${slug}`,
};

const structuredDataString = JSON.stringify(structuredData);
---

<Layout
    title={title}
    description={description}
    keywords={keywords}
    heroImage={image}
    structuredData={structuredDataString}
>
    <h1 class="mb-8 text-2xl font-semibold">{title}</h1>
    <article class="prose dark:prose-invert">
        <Content />
    </article>
</Layout>
